<header>
    <div class="textos">
        <p>BIENVENIDOS AL PORTAL DE </p>
        <p>PRACTICAS PRE PROFESIONALES</p>
        <a routerLink="/IniciarSession" RouterLinkActive="active"><button class="boton">INICIAR SESION</button></a>
    </div>
</header>
<section class="about-us">
    <div class="contenedor1">
        <h2 class="titulo">SOLICITUDES PARA PPP</h2>
        <div class="linea"></div>
        <div class="contenedor-articulo">
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-pen-fancy"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Javier Gonzales Barrantes</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-code"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Wilson Adan Huacasi Mamani</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-cog"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Wagner Vargas Challa</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-chart-pie"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Jhens Brandon Vilca Mamani</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-comments"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Milton Quenta Maquera</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
            <div class="articulo" data-aos="zoom-in-right">
                <i class="fas fa-chart-bar"></i>
                <img src="..\assets\img\student.png" alt="">
                <h3>Frans Edward Paxi Juchani</h3>
                <p>201722121</p>
                <a routerLink="/soli" RouterLinkActive="active"><button class="boton2">REVISAR</button></a>
            </div>
        </div>
    </div>
</section>
<section class="results">
    <div class="contenedor1 conten-results">
        <section class="numbers">
            <div class="galeria">
                <div class="contenedor-imagenes">
                    <div class="imagen">
                        <img src="../assets/img/sistemas2019.jpg" alt="">
                        <div class="overlay">
                            <h2>ESTUDIANTE</h2>
                            <a routerLink="/IniciarSession" RouterLinkActive="active"><button class="boton3">INGRESAR</button></a>
                        </div>
                    </div>
                    <div class="imagen">
                        <img src="../assets/img/docente.jpg" alt="">
                        <div class="overlay">
                            <h2>SUPERVISOR</h2>
                            <a routerLink="/super" RouterLinkActive="active"><button class="boton3">INGRESAR</button></a>
                        </div>
                    </div>
                    <div class="imagen">
                        <img src="../assets/img/comision.jpeg" alt="">
                        <div class="overlay">
                            <h2>COMISIÓN PPP</h2>
                            <a routerLink="/super" RouterLinkActive="active"><button class="boton3">INGRESAR</button></a>
                        </div>
                    </div>
                    <div class="imagen">
                        <img src="../assets/img/secretaria.jpg" alt="">
                        <div class="overlay">
                            <h2>SECRETARIA</h2>
                            <a routerLink="/practicas" RouterLinkActive="active"><button class="boton3">INGRESAR</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="results-text">
            <h4>USUARIOS
            </h4>
            <p>Accede al portal de cada actor desde aquí.</p>
            <a routerLink="/IniciarSession" RouterLinkActive="active">Ingrese aquí</a>
        </section>
    </div>
</section>