.fondo{
    background: url(D:\final\Practicas-pre-profecionales-UPEU\src\assets\img\Slider-clases-2020.jpg);
}
.tamaño{
    height: 800px;
}
table {
    margin-left: 80px;

    width: 80%;
    height: 80%;
  }
.mat-form-field{
    font-size: 14px;
    width: 30%;
}

.mat-form-field{
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
}
.container-btn-new{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem -0.6rem;
    margin-left: -430px;
    button{
        width: 25%;
        color: #fff;
        background-color: #992e45;
        cursor: pointer;
    }
}