.mat-toolbar.mat-primary {
    background: #ffffff98 !important;
}
mat-toolbar .logo a> img{
    height: 50px;
    margin-left: 35px;
}    
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}