<div class="fondo">
<div class="abajo">  
<section>
    <div class="empieza">
        <h1>SOLICITUD GENERADA</h1>
        <div class="linea"></div>
        <img src="../assets/img/Captura.JPG" alt="">
        <div class="texto">
            <h2>N° DE SOLICITUD: 0000012</h2>
            <h3>Javier Gonzales Barrantes</h3>
            <h3>201712122</h3>
            <button class="boton">ACEPTAR</button>
            <button class="boton2">RECHAZAR</button>
        </div>
    </div>
</section>
<section>
    <div class="galeria">
        <h1>Our goal is for your comfort</h1>
        <div class="linea1"></div>
        <div class="contenedor-imagenes">
            <div class="imagen">
                <img src="../assets/img/Captura.JPG" alt="">
                <div class="overlay">
                    <h2>Wilson Adan Huacasi Mamani</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/img/Captura.JPG" alt="">
                <div class="overlay">
                    <h2>Wagner Vargas Challa</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/img/Captura.JPG" alt="">
                <div class="overlay">
                    <h2>Jhens Brandon Vilca Mamani</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/img/Captura.JPG" alt="">
                <div class="overlay">
                    <h2>Milton Quenta Maquera</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/img/descargar.jpg" alt="">
                <div class="overlay">
                    <h2>Frans Edward Paxi Juchani</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="../assets/img/descargar.jpg" alt="">
                <div class="overlay">
                    <h2>Javier Gonzales Barrantes</h2>
                </div>
            </div>
        </div>
    </div>
</section>
</div>  
</div>